.background-container{
    background-image: linear-gradient(to right,#fa7257,#fc63a7);
    height: 100vh;
    /* margin: 10px; */
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    margin-right: 30px;
    color:  #dd1264;
    background-color: white;
    padding: 10px;
    /* margin-right: 60px; */
    border-width: 0px;
    border-radius: 10px;

}
.names-container{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* align-items: center; */
    padding-right: 120px;
    margin-right: 50px;
    margin: 30px;
}
p{
    background-color:  #fddddb;
    color: black;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 23px;
    padding: 10px;
    /* margin: 40px; */
    
    margin-top: 30px;
    border-radius: 8px;
}
.main-heading{
    color:#ffffff;
    font-weight: bold;
    font-size: 32px;
    font-family:'roboto';
    margin-bottom:  20px;
}
.container{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}