.main-container{
    background-image:linear-gradient(to right, #1d976c,#93f9b9);
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.main-heading{
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 45px;
    width: 50%;
}
#inputBox{
    background-color: transparent;
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    border-style:  solid;
    border-color: #ffffff;
    border-width: 1px;
    outline: none;
    width: 100%;
    margin-top:  4px;
}
label{
    font-size: 15px;
    font-family: 'roboto';
    color: #ffffff;
}
.counter-element{
    padding: 23px;
    background-color: #ffffff;
    font-size: 29px;
    /* background-color: #1d976c; */
    color: #1d976c;
    font-weight: bold;
    width: 60%;
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;

}
.counter-div{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}