.heading{
    color: white;
    font-family:'Roboto';
    font-size: 28px;
    font-weight: bold;
}
.btn-class{
    background-color:#0b69ff;
    color:#cbd5e1;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}
.description{
    color:#94a3b8;
    font-family: 'Roboto';
    margin:20px;
}